head {
    background-color: #3f3f3f;
}

body {
    background-color: #3f3f3f;
}

.masterContainer {
    background-color: #3f3f3f;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.container1 {
    background-color: #494949;;
    display: flex;
    flex-direction: row;
    min-height: 83vh;

}


.container2 {

    display: flex;
    flex-direction: column;
}


.header {
    color: azure;
    font-size: x-large;
    background-color: #3f3f3f;
    font-size: xx-large;
    padding-bottom: 1%;
}

.SideBar {
    display: flex;
    flex-direction: column;
    background-color: #494949;
    color: azure;
    min-width: 17.5%;
    max-width: 17.5%;
}

.TodoList {
    background-color: #6b6b6b;
    color: azure;
    min-width: 82.5%;
    font-size: larger;
}

.list_link {
    border-radius: 3vh;
    text-align: left;
    font-size: large;
    padding: 2%;
    text-indent: 2%;
}

.list_link:hover {
    background-color: #424242;
}

.todo_list_header {
    border-radius: 5vh;
    padding: 2%;
    font-size: x-large;
}

.todo_list {
    border-radius: 5vh;
    padding: 2%;
    font-size: large;
}

.todo_list:hover {
    border-radius: 5vh;
    padding: 2%;
    font-size: large;
    background-color: #424242;
}